  
    <div class="jumbotron jumbotron-fluid">  
      
 <div class="container">
        <h1>Rate Your Employees</h1>
            <form>
            <input class="form-control form-control-lg" type="text" placeholder="Search employee by name" id="employee-search">
            <input type="submit" id="search-submit" style="display: none" />
          </form>
          <br>
<div class="d-flex justify-content-md-around"> 
        <div class="employee-search-buttons">
          <a
            type="button"
            class="btn-secondary "
            id="search-Employee"
            >
           Search Employee
          </a>
           <a
            type="button"
            class="btn-secondary "
            id="list-Employee"
            href="employees"> 
            Employee Database
          </a>
          <a
            type="button"
            class="btn-secondary"
            id="search-Department"
            >
            Search by Department
          </a>
                  <a
            type="button"
            class="btn-secondary"
            id="add-Employee"
            data-toggle="modal"
            data-target="#exampleModal"
          >
           Add Employee
          </a>
        </div>
      </div>
 </div> 
    </div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="reset" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="sbmt-btn">Save changes</button>
      </div>
    </div>
  </div>
</div>

{{!-- <div class="wpac-rating" data-wpac-chan="photo_id_2516761"></div>
<div class="wpac-rating" data-wpac-chan="photo_id_6182897"></div> --}}
{{!-- 
<div id="database">
  <ul id="example-list" class="list-group">
     {{#each employees}}
    <li data-id="{{this.employee_id}}" class="list-group-item">
      <a href="employees/{{this.id}}">{{this.last_name}}</a>

      </li>
            <div class="wpac-rating"  data-wpac-chan="product_id_{{this.attitute}}"></div>
        {{!-- <div class="wpac-rating" data-wpac-chan="product_id_" + {{this.attitute}}></div> --}}
        
      {{!-- {{/each}}
  </ul>
</div>   --}}
